.input {
	$this: &;

	position: relative;
	display: inline-flex;
	align-items: stretch;
	background: $input-bg-color;
	border: $input-border-width solid $input-border-color;
	border-radius: $input-border-radius;
	outline: none;
	transition: $input-transition;

	&__el {
		display: block;
		background: transparent;
		width: 100%;
		padding: $input-padding-y $input-padding-x;
		border: 0;

		&:focus {
			outline: none;
		}

		&::placeholder {
			font-weight: 400;
			color: $input-placeholder-color;
			opacity: 1;
		}

		&:-webkit-autofill {
			box-shadow: 0 0 0 100rem $input-autofill-bg-color inset;
		}
	}

	&__adornment {
		display: flex;
		align-items: center;
		color: $input-adornment-color;

		&--start {
			margin-left: $input-padding-x;
		}

		&--end {
			margin-right: $input-padding-x;

			// Reset marging
			& > * {
				margin: 0;
				margin-right: $input-padding-x;

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&--focused:not(#{$this}--disabled):not(#{$this}--error) {
		box-shadow: $input-focus-box-shadow;
	}

	&--disabled {
		background-color: $input-disabled-bg-color;
		color: darken($input-disabled-bg-color, 20%);
	}

	&--full-width {
		width: 100%;
		min-width: 0;
	}

	&:not(#{$this}--full-width) {
		width: 100%;
		max-width: $input-default-width;
	}

	&--error {
		box-shadow: $input-error-box-shadow;
	}
}
