.issues-collage {
	position: relative;
	display: block;
	max-width: 60rem;
	height: 46rem;
	margin: 0 auto;

	&__item {
		position: absolute;
		line-height: 0;
		max-width: 22%;

		& > * {
			border-radius: 1rem;
			box-shadow: 0 0 0 1rem $body-bg;
		}
	}

	&__item--p1 {
		top: 4.5%;
		left: 0;

		& > * {
			border-bottom-left-radius: 2rem;
			border-top-left-radius: 2rem;
		}
	}

	&__item--p2 {
		top: 0;
		left: 24%;
	}

	&__item--p3 {
		top: 8%;
		left: 48%;
	}

	&__item--p4 {
		top: 4.5%;
		left: 72%;

		& > * {
			border-bottom-right-radius: 2rem;
			border-top-right-radius: 2rem;
		}
	}
}
