<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Verify You Review | VABVA</title>

  <style type="text/css">
     body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; 
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    table { border-collapse: collapse !important; }
    #wrapper {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: #FFFFFF;
    }
    #title{
      font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #212648;
    }
    #greeting{
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */


      color: #2C2C2C;
    }
    #verify_button{
      background: #212648;
      border-radius: 2px;
      color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      border-color: #212648;
      font-weight: bold;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #footer {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */
      color: #2C2C2C;
    }
    #team_signature{
      font-weight: 500;

    }
    .spacing {
      font-size:50px;
      line-height:50px
    }
  </style>    
</head>

<body style="margin:0; padding:0; background-color:#E5E5E5;">
  <span style="display: block; width: 600px !important; max-width: 640px; height: 1px" class="mobileOff"></span>
    <center>
      <table width="25%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td style="line-height:25px">&nbsp;</td>
        </tr>
        <tr>
          <td id='wrapper'>
            <table>
              <tr>
                <td>
                  <!-- ### START HEADER ### -->
            <table>
              <tr>
                <td valign="top">
                  <span id='title'>VABVA</span>
                </td>
              </tr>
            </table>
          <!-- ### END HEADER ### -->
                </td>
              </tr>
              <tr>
                <td class="spacing">&nbsp;</td>
              </tr>
              <tr>
                <td>
            <!-- #### START BODY ##### -->
            <table>
              <tr>
                <td>
                      <span id='greeting'>Hi {{fullName}},</span>
                    </td>
                  </tr>
                  <tr>
                    <!-- <td class="spacing" height="50">&nbsp;</td> -->
                    <td valign="top">
                      <p id='content'>
                        Thank you for submitting a review for {{companyName}}
                        <br>
                        <a href="{{verificationLink}}" target="_blank">Please verify your email</a> address to publish your review.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td style="line-height:50px">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" align="center">
                      <a id='verify_button' target="_blank" href="{{verificationLink}}">Publish Review</a>
                    </td>
                  </tr>
                  </table>
                  <!-- #### END BODY ##### -->
                </td>
              </tr>
              <tr>
                <!-- #### start SPACES #### -->
                <tr>
                  <td style="line-height:120px;">
                    &nbsp;
                  </td>
                </tr>
                <!-- #### end SPACES #### -->
                <td id='footer'>

                  <!-- #### START FOOTER ##### -->
                  <table>
                    <tr>
                      <td valign="top" align="left">
                        <span>Regards,</span>
                      </td>
                    </tr>
                    <tr>
                      <td style="line-height:10px">
                        &nbsp;
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        <span id='team_signature'>VABVA Team</span>
                      </td>
                    </tr>
                    </table>
                    <!-- #### END FOOTER ##### -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="line-height:150px">&nbsp;</td>
        </tr>
      </table>
    </center>
  </div>
</body>
</html>
